<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Network Topologies Generator</Name>
    <Version>1.0.0</Version>
    <Title>Network Topologies Generator Installer</Title>
    <StartMenuDir>Network Topologies Generator</StartMenuDir>
    <TargetDir>@HomeDir@/network_topologies_generator</TargetDir>
</Installer>